.category-page {
    display: flex; 

    .categoryContainer {
        flex: 6; 
        background-color: #f8f9fa;
        padding: 10px 20px; 

        .category-title {
            display: flex;
            align-items: center;
            padding: 10px; 

            p {
                font-size: 40px;
                font-weight: bold;
                color: #2c2c2c; 
                margin: 0;
            }
            
            span {
                height: 35px;
                width: 55px;
                background-color: #f0f0f0;
                border: 1px solid #e6e6e6;
                border-radius: 5px;
                display: flex; 
                align-items: center;
                justify-content: center;
                margin-left: 20px;
                font-weight: normal;
                font-size: 30px;
                color: #333; 
            }
        }
    }
}